@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

navbar {
  width: 100vw;
  height: 15vh;
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 1;
  background-color: #e0ebe8a8;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navbar-logo img {
  width: 100px;
  height: 100px;
  /* padding-top: 10px; */
}

.navbar-menu ul {
  display: flex;
  flex-direction: row;
}
.navbar-menu ul li {
  list-style: none;
  margin: 0px 20px;
}
.navbar-menu ul li a {
  text-decoration: none;
  color: #4ab19a;
  font-size: 20px;
}
.navbar-menu ul li a:hover {
  color: #275a50;
}

section {
  width: 100%;
  height: 100vh;
  background-color: #e0ebe8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-cloud {
  background: url("./cloud.png") no-repeat center;
  position: absolute;
  top: 40vh;
  left: 20vw;
  width: 200px;
  height: 100px;
}
.right-cloud {
  background: url("./cloud.png") no-repeat center;
  position: absolute;
  top: 20vh;
  right: 20vw;
  width: 200px;
  height: 100px;
}
.section-content h1 {
  font-family: "Parisienne", cursive;
  font-size: 5rem;
  font-weight: lighter;
}

.section-content h2 {
  font-weight: lighter;
  font-size: 1rem;
}

.section-content {
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #4ab19a;
  height: 40vh;
}

.bottom-image {
  width: 100%;
  height: 20vh;
  justify-items: end;
}
.bottom-image img{
  width: 100%;
}

.avatar-image {
  height: 60vh;
  position: relative;
  align-self: flex-start;
}

.avatar-image img {
  min-width: 10vw;
  height: 20vh;
  border-radius: 50%;
}

.about-text {
  display: flex;
  width: 40vw;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about-text h1{
  font-family: poppins;
  font-size: 1.7rem;
  margin-top: 15px;
  font-weight: 500;
}
.about-text h2{
  margin-top: 15px;
  font-family: poppins;
  font-size: 1.3rem;
  color: #275a50;
}

section2 {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items:flex-start;
  justify-content: space-around;
}

.section-about {
  display: flex;
  width: 100vw;
  flex-direction: column;
  width: 70vw;
  align-items: center;
}

.section-about h1{
  color: #32917c;
  font-weight: normal;
  font-size: 40px;
}
.subbox h2 {
  margin: 10px 0px;
  color: #4ab19a;
  font-weight: normal;
  font-size: 26px;

}
.subbox h3 {
  color: #275a50;
  font-weight: normal;
  font-size: 18px;
  margin: 20px 0px;
}

.box1, .box2 {
  display: flex;
  flex-direction: row;
  margin: 40px;
}

.boximage {
  width: 40%;
  display: flex;
  flex-direction: row;
}

.subbox{
  width: 60%;
}

.boximage img {
  height: 150px;
  width: 150px;
}
.image2 {
  display: flex;
justify-content: end;
}

section3 {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 60vh;
  align-items: center;
  text-align: center;
}

section3 h1 {
  color: #32917c;
  font-weight: normal;
  font-size: 2.5rem;
}

section3 h2 {
  color: #4ab19a;
  font-weight: normal;
  font-size: 1.5rem;
  margin: 25px 0px;
}

section3 h3 {
  color: #275a50;
  font-weight: normal;
  font-size: 1.3rem;
  margin: 25px 0px;
}

.hire-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 40vh;
}
.contactform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 80vh;
}

.form {
  background-color: #34796b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 80vh;
  padding: 20px;
  width: 50vw;
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 10px;
  text-align: center;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #c5ded7;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #34796b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.cut-long {
  width: 70px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #ffffff;
}

.submit {
  background-color: #3fa35f;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: rgb(0, 187, 118);
}


.contactform .button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 38px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

footer {
  height: 25vh;
  width: 100vw;
  background-color: #c5ded7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:end;
}

.footer-menu ul li a img{
  height: 40px;
  width: 40px;
}

footer h2 {
  font-size: 1rem;
  font-weight: lighter;
  margin: 16px 0;

}

@media screen and (max-width: 900px) {
  section {

  }

  .bottom-image {
  }

  section2,
  .section-content{
    height: 100%;
  }
  section3 {
    margin-top: 10vh;
  }

 .section-about .box1,
 .section-about .box2{
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
 }
 .section-about .box2 {
  flex-direction: column-reverse;
 }

 .image2 {
justify-content: center;
}
  
}